/*******************
BASE STYLES
********************/
p {
    line-height: 1.5;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

nav ul li {
    border-top: 1px dotted;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

nav a:link {
    color: #FFE8AA;
}

nav a:visited {
    color: #FFE8AA;
}

/*********FONTS**********/
@font-face {
    font-family: Alice;
    src: url(fonts/alice-regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

#logo,
h1,
h2,
h3 {
    font-family: Alice;
}

p,
li,
a {
    font-family: Lato;
}

/*********COLORS**********/

#logo,
header,
footer {
    background-color: #552E00;
    color: #FFE8AA;
}


/*********LAYOUT**********/

.container {
    max-width: 1100px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 5px 0;
    font-size: .75em;
}

/*******************
HEADER
********************/

h1 {
    font-size: 1.25em;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    padding: 0 15px;
}

.contact-info-header {
    display: none;
}


/*******************
NAVIGATION
********************/

.hide-show {
    display: none;
}

.responsive {
    display: block;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    background-color: #552E00;
    z-index: 100;
}

.hamburger-menu-container {
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #FFE8AA;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change.bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change.bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change.bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -5px) ;
    transform: rotate(45deg) translate(-6px, -5px) ;
}

/*******************
HERO SECTION
********************/
#hero {
    background: url(images/tm-room.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}

.hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
    top: 60px;
    padding: 0 0 0 50px;
}

.button-area a:link {
    color: #fff;
}

.button-area a:visited {
    color: #fff;
}

.button-area a {
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 0 1px #000;
}

.button-area a:first-of-type {
    background-color: #f0ad4e;
}

.button-area a:last-of-type {
    background-color: #d9534f;
}

.button-area a:hover {
    background-color: #fff;
    color: #552E00;
    text-shadow: none;
}


/*******************
CONTACT MODAL
********************/

.close-contact-modal {
    cursor: pointer;
}



/*******************
ABOUT PAGE, BANDS PAGE
********************/

#about-page-main-content,
#bands-page-main-content,
#equipment-page-main-content {
    background-color: rgba(255, 216, 170, .7);
    color: #552E00;
    padding: 0 15px;
    font-size: 1.025em;
}

#about-page-main-content h2:first-of-type,
#bands-page-main-content h2:first-of-type,
#equipment-page-main-content h2:first-of-type {
    margin-top: 0;
}

#about-page-main-content #about-taj-mcgraw{
    padding-top: 50px;
}

#about-page-main-content #options p:last-of-type {
    margin-bottom: 0;
}

#about-page-main-content section,
#bands-page-main-content section,
#equipment-page-main-content section {
    padding: 0 0 25px;
}

#bands-page-main-content h2,
#equipment-page-main-content h2 {
    margin-bottom: 40px;
}

#bands-page-main-content,
#equipment-page-main-content {
    padding-top: 30px;
}

#bands-page-main-content img,
#equipment-page-main-content img {
    width: 85%;
}

/*******************
EQUIPMENT PAGE GALLERY
********************/

.img {
    background-color: orangered;
    width: 600px;
    height: 400px;
}

#equipment-page-main-content img {
    margin-bottom: 10px;
}